body{
margin: 0px;
padding: 0px;
background-color: black;
font-family: 'Lato', sans-serif;
}

h1{
  position:fixed;
  margin: 10px;
  padding: 10px;
  color: green;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  top: 0%;
  width: 100%;
}

#messages {
  position:fixed;
  margin: 10px;
  padding: 10px;
  color: green;
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  overflow-y: auto;
  width: 100%;
  top:10%;
  left: 0%;
  height: 70%;
}


.text_input{
  position:fixed;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 100;
  top: 90%;

}

#submit_button {
  position:fixed;
  border: none;
  background-color: #4CAF50;
  width:20%;
  right: 0%;
  height:10%;
  font-size: 14px;
}

#input_message {
  position:fixed;
  border: none;
  left: 0%;
  width:79%;
  height:10%;
  font-size: 14px;
}

.chat_messages{
  position:fixed;
  margin: 10px;
  padding: 10px;
  color: green;
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  overflow-y: auto;
  width: 100%;
  top:10%;
  left: 0%;
  height: 70%;
}